# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
ai_env/
venv/
env/

# Datasets & Heavy Media
hazy/
clean/
large_dataset/
*.png
*.jpg
*.jpeg
*.mp4
*.avi
*.m4a
*.mov

# Model Checkpoints & Output Weights
*.pth
*.pt
*.onnx
*.bin
checkpoints/
results/

# TensorBoard & Logging
runs/
logs/